snippet describe "Busted-style describe block"
    describe("${1}", function ()
        ${0}
    end)

snippet it "Busted-style it block"
    it("${1}", function ()
        ${0}
    end)

snippet newmod "Create a new module"
    local M = {}

    ${0}

    return M

snippet pubf "Create a public function in a Lua module"
    function M.${1}(${2})
        ${0}
    end
